/* app.css */
@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap');


*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body{
  background-color: rgba(1,1,1,0.05);
  font-family: 'Roboto', sans-serif;
}

.lineImg{
  height: 2px;
  width: 50px;
}

.borderR{
  border-radius: 10px;
}

.boxS{
  box-shadow: 1px 5px 5px rgba(0,0,0,0.1);
}

.box{
  background-color: white ;
  padding: 30px 15px;
}

p{
  line-height: 27px;
  text-align: justify;
  color: var(--secondary-text);
}

